### required (unless USE_LOCAL_LLM=true)

OPENAI_API_KEY=<your_openai_api_key>

### optional 

# defaults to gpt-4o-mini for remote API

#REASONING_LLM_NAME=qwen3:8b-q4_K_M
#NONREASONING_LLM_NAME=qwen3:4b-instruct-2507-q4_K_M

#OPENAI_BASE_URL=https://openrouter.ai/api/v1
